@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  background: transparent !important;
  margin: 0;
  padding: 0;
}

video {
  position: absolute;
  width: 100vw !important;
  height: calc(100vh - 40px) !important;
  object-fit: cover !important;

  top: 40px !important;
}

.mindar-ui-loading {
  display: none !important;
}